@CHARSET "UTF-8";
div{
   clear:both;
   width:100%;
   float:none;
}
img{
   max-width:100%;
   height:auto;
}
.MainMenu{
	font-size:20;	
}

table{
width: 800px;
height: 100px;
margin-bottom:20px;
border:1px solid #96C2F1;
background-color: #EFF7FF;
border-collapse:collapse;
}

.normal{ text-decoration:none; color:#000000;}